@mixin flex($dir:row,$jc:center,$ai:center,$gap:0) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}
@mixin grid($width,$gap:0) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: $gap;
}

@mixin box-container($w:inherit,$h:auto) {
    width: $w;
    height: $h;
}