* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
*::before, *::after {
  box-sizing: border-box;
}

dialog {
  margin: auto;
}

body {
  background-color: #444;
  color: white;
  font-family: sans-serif;
  overflow-x: hidden;
}
body header .container-fluid {
  min-height: 100px;
  background-color: #777;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding-inline: 20px;
}
body header .container-fluid ul li {
  display: inline-block;
  padding-inline: 10px;
}
body header .container-fluid ul li a {
  color: white;
  position: relative;
}
body header .container-fluid ul li a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #f00;
  transition: all 1s ease;
}
body header .container-fluid ul li a::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 0;
  background-color: #f00;
  height: 2px;
  transition: all 1s ease;
}
body header .container-fluid ul li a:hover {
  color: lightgray;
}
body header .container-fluid ul li a:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}
body header .container-fluid ul li a:hover::after {
  width: 100%;
  left: auto;
  right: 0;
}
body .d-block {
  display: block;
}
body .container {
  max-width: 1170px;
  margin-inline: auto;
  padding-inline: 15px;
  min-height: 200px;
  margin-block: 20px;
  width: 100%;
  text-align: center;
}
body .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
body .main {
  margin-top: 30px;
}
body .main .container .row .item {
  width: inherit;
  height: 450px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
body .main .container .row .item .img {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
body .main .container .row .item .img img {
  -o-object-fit: cover;
     object-fit: cover;
}
body .main .container .row .item .content {
  text-align: center;
  background-color: #555;
  width: 100%;
  min-height: 180px;
  padding-top: 25px;
  position: relative;
}
body .main .container .row .item .content > * {
  transition: all 0.5s ease;
}
body .main .container .row .item .content h3 {
  font-size: 25px;
}
body .main .container .row .item .content span {
  font-size: 18px;
  margin-bottom: 30px;
  letter-spacing: 0.1rem;
}
body .main .container .row .item .content .btn {
  padding: 10px 18px;
  background-color: rgb(54, 125, 166);
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
body .main .container .row .item .content .btn:hover {
  background-color: rgba(54, 125, 166, 0.8);
}
body .main .container .row .item .content::after {
  content: "";
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  background-color: #333;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleY(1);
  transform-origin: top;
}
body .main .container .row .item .content:hover::after {
  transform: scaleY(0);
}
body .main .container .row .item:nth-child(even) .content::after {
  transform-origin: bottom;
}
body .main dialog {
  position: relative;
  transition: all 0.5s ease;
}
body .main dialog .closeX {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: all 0.5s ease;
  outline: 2px solid #333;
  padding: 5px;
  color: #333;
}
body .main dialog .closeX::before {
  content: "x";
  font-size: 30px;
}
body .main dialog .closeX:hover {
  border-radius: 20px;
}
body .main dialog .container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
body .main dialog .container img {
  border-radius: 50%;
}
body .main dialog .container h3 {
  margin-block: 10px;
}
body .main dialog .container tr, body .main dialog .container td, body .main dialog .container th {
  outline: 2px solid #333;
}
body .main dialog .container td, body .main dialog .container th {
  padding: 5px;
}/*# sourceMappingURL=style.css.map */