@import 'variables';
@import 'mixin';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    &::before,
    &::after{
        box-sizing: border-box;
    }
}
dialog{
    margin: auto;
}
body{
    background-color: $bgc;
    color: $color;
    font-family: sans-serif;
    overflow-x: hidden;

    // Header Work
    header{
        .container-fluid{
            min-height: 100px;
            background-color: #777;
            @include flex($jc:space-around);
            padding-inline: 20px;
            ul{
                li { display: inline-block; padding-inline: 10px;
                a{color: $color;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -5px;
                        right: 0;
                        width: 0;
                        height: 2px;
                        background-color: #f00;
                        transition: all 1s ease;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        top: -5px;
                        left: 0;
                        width: 0;
                        background-color: #f00;
                        height: 2px;
                        transition: all 1s ease;
                    }

                        &:hover{
                            color: lightgray;
                            &::before{
                                width: 100%;
                                right: auto;
                                left: 0;
                            }
                            &::after{
                                width: 100%;
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .d-block{
        display: block;
    }

    // Main Page Work

    .container{
        max-width: 1170px;
        margin-inline: auto;
        padding-inline: 15px;
        min-height: 200px;
        margin-block: 20px;
        width: 100%;
        text-align: center;
    }

    .row{
        @include grid(300px,$gap:20px);
    }

    .main{
        margin-top: 30px;
        .container{
            .row{
                .item{
                    @include box-container($h:450px);
                    border-radius: 8px;
                    background-color: $color;
                    overflow: hidden;
                    @include flex($dir:column,$jc:space-between,$ai:center);
                    .img{
                        @include box-container(200px,200px);
                        margin-top: 15px;
                        overflow: hidden;
                        border-radius: 50%;
                        @include flex($jc:center,$ai:center);
                        img{object-fit: cover;}
                    }
                    .content{
                        text-align: center;
                        background-color: #555;
                        width: 100%;
                        min-height: 180px;
                        padding-top: 25px;
                        position: relative;
                        > * {transition: all .5s ease;}
                        h3{font-size: 25px;}
                        span{font-size: 18px; margin-bottom: 30px; letter-spacing: 0.1rem;}
                        .btn{padding: 10px 18px; background-color: rgb(54, 125, 166); color: $color; font-size: 20px; border-radius: 5px;
                            &:hover{
                                background-color: rgba(54, 125, 166,.8);
                            }
                        }

                        &::after{
                            content: '';
                            width: 100%;
                            height: 100%;
                            transition: all 1s ease;
                            background-color: #333;
                            position: absolute;
                            left: 0;
                            top: 0;
                            transform: scaleY(1);
                            transform-origin: top;
                        }
                        &:hover{
                            &::after{
                                transform: scaleY(0);
                            }
                        }
                    }
                    &:nth-child(even) .content{
                        &::after{
                            transform-origin: bottom;
                        }
                    }
                }
            }
        }

        dialog{
            position: relative;
            transition: all .5s ease;
            .closeX{
                position: absolute;
                right: 10px;
                top: 10px;
                @include box-container(40px,40px);
                @include flex();
                transition: all .5s ease;
                outline: 2px solid $gray; 
                padding: 5px;
                color: #333;
                &::before{
                    content: 'x';
                    font-size: 30px;
                }
                &:hover{
                    border-radius: 20px;
                }
            }
            .container{
                min-width: 400px;
                @include flex($dir:column,$jc:space-around);
                img{border-radius: 50%;}
                h3{margin-block: 10px;}
                tr,td,th{
                    outline: 2px solid #333;
                }
                td,th{padding: 5px;}
            }
        }
    }
}